@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Solo modo oscuro - usando los valores dark como únicos */
  --background: 0 0% 3.9216%;
  --foreground: 0 0% 98.0392%;
  --card: 0 0% 9.8039%;
  --card-foreground: 0 0% 98.0392%;
  --popover: 0 0% 14.9020%;
  --popover-foreground: 0 0% 98.0392%;
  --primary: 0 0% 45.0980%;
  --primary-foreground: 0 0% 98.0392%;
  --secondary: 0 0% 14.9020%;
  --secondary-foreground: 0 0% 98.0392%;
  --muted: 0 0% 14.9020%;
  --muted-foreground: 0 0% 63.1373%;
  --accent: 0 0% 25.0980%;
  --accent-foreground: 0 0% 98.0392%;
  --destructive: 358.8387 100% 69.6078%;
  --destructive-foreground: 0 0% 14.9020%;
  --border: 0 0% 21.9608%;
  --input: 0 0% 32.1569%;
  --ring: 0 0% 45.0980%;
  --chart-1: 0 0% 45.0980%;
  --chart-2: 0 0% 45.0980%;
  --chart-3: 0 0% 45.0980%;
  --chart-4: 0 0% 45.0980%;
  --chart-5: 0 0% 45.0980%;
  --sidebar: 0 0% 9.0196%;
  --sidebar-foreground: 0 0% 98.0392%;
  --sidebar-primary: 0 0% 98.0392%;
  --sidebar-primary-foreground: 0 0% 9.0196%;
  --sidebar-accent: 0 0% 14.9020%;
  --sidebar-accent-foreground: 0 0% 98.0392%;
  --sidebar-border: 0 0% 21.9608%;
  --sidebar-ring: 0 0% 32.1569%;
  --font-sans: Geist Mono, monospace;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
}

* {
  border-color: hsl(var(--border));
}

html,
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-mono);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.text-balance {
  text-wrap: balance;
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: hsl(var(--sidebar));
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--sidebar-border));
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--sidebar-accent));
}
